

body{
    background-color: #f9fbfb;
    font-size: 13px;
}

section.heading {
    padding: 20px;
}

section.heading h3 {
    font-weight: 900;
    font-size: 30px;
    color: #3a4a4d;
}

section.auth {
    padding-top: 8%;
}
#loginFormWrapper {
    border-radius: 20px;
    border: 1px solid #fdfdfd;
}

footer {
    padding: 20px;
}

footer h6 {
    font-weight: 900;
}



.developer .links i.fa{
    font-size: 20px;
}

small.error {
    font-size: 14px;
}
#loginFormWrapper {
    background-color: #fff;
}